/* body "white" */

/* HEADER */

header {
    background-color: #0084fd;
    height: 80px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header > nav {
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header ul {
    list-style: none;
}

header li {
    margin: 0 1rem;
    line-height: 80px;
    cursor: pointer;
}

/* HEADER MEDIA QUERY */

.show-tm {
    display: none;
}

@media screen and (max-width:780px) {
    header .off-tm {
        display: none;
    }
    header .logo {
        padding: 1rem;
    }

    header .show-tm {
        display: block;
        color: #ffffff;
    }
}


/* MAIN */

main {
    background-color: #ffffff;
}

/* MAIN - 1/6 */

.row-table {
    flex-wrap: wrap;
    gap: 15px;
}

.row-table .card.card-big {
    width: calc((100% / 3) * 2 - 7px);
    /* padding-bottom: 0; */
}

.row-table .img-phone {
    /* max-height: 100%; */
    max-height: 16rem;

}

.row-table .card > i {
    font-size: 6rem;
    color: #0084fd;
}

/* MAIN 1/6 MEDIA QUERY */

@media screen and (max-width:780px) {
    .container {
            max-width: 100%;
        }

    .row-table .column {
        width: 100%;
        text-align: center;
    }
    
    .row-table .card-big {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}

@media screen and (max-width:480px) {
    

    .row-table .card,
    .row-table .card.card-big {
        width: 100%;
    }

}

/* MAIN 2/6 */

.card-white {
    max-width: 90%;
    background-color: #ffffff;
    border-radius: 30px;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.card-white img {
    max-width: 60%;
}

.arrow {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    display: inline-block;
    border-radius: 50%;
	background-color: #9691e3;
}

/* MAIN 2/6 MEDIA QUERY */

@media screen and (max-width:780px) {
    .row-change {
        flex-wrap: wrap;
    }

    .row-change .column {
        width: 100%;
    }
}


/* MAIN - 3/6 */

.card-purple {
	background-color: #9691e3;
    border-radius: 30px;
    margin-bottom: 1rem;
    align-items: center;
}

.tondo {
    width: 30%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: url(../img/testimonial1.jpg);
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
}


/* Footer */

footer {
    background-color: #333333;
    color: #ffffff;
}