/* HEADER */

header {
    background-color: #0084fd;
    height: 80px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header > nav {
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header ul {
    list-style: none;
}

header li {
    margin: 0 1rem;
    line-height: 80px;
    cursor: pointer;
}

/* HEADER MEDIA QUERY */

.show-tm {
    display: none;
}



/* MAIN */

main {
    background-color: #ffffff;
}

/* Main - 1/6 */

.row-table {
    flex-wrap: wrap;
    gap: 15px;
    /* gap 14? */
}

.row-table .card.card-big {
    width: calc((100% / 3) * 2 - 7px);
}

.card-big > .img-phone > img {
    align-self: flex-end;
    max-height: 15rem;
}

.card-big {
    padding-bottom: 0;
}

.card-big .img-phone {
    justify-content: center;
}

.row-table .card > i {
    font-size: 6rem;
    color: #0084fd;
}

/* Main 2/6 */

.card-white {
    max-width: 90%;
    background-color: #ffffff;
    border-radius: 30px;
    margin-bottom: 1rem;
    margin-left: 2rem;
    /* align-content: flex-end; */
}

.card-white img {
    max-width: 60%;
}

.arrow {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    display: inline-block;
    border-radius: 50%;
	background-color: #9691e3;
}

/* Main - 3/6 */

.card-purple {
	background-color: #9691e3;
    border-radius: 30px;
    margin-bottom: 1rem;
    align-items: center;
}

.tondo {
    width: 30rem; 
    aspect-ratio: 1;
}

.tondo > img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-purple p {
    line-height: 2rem;
}

.card-purple p > span {
    font-weight: bold;
}

.card-purple i {
    font-size: 1.5rem;
}

/* Main 4/6 */

.benefits .card {
    background-color: #ffffff;
}


/* Footer */

footer {
    background-color: #333333;
    color: #ffffff;
}





/* MEDIA QUERIES - Tablet */

@media screen and (max-width:780px) {

    /* Header */
        header .off-tm {
            display: none;
        }
    
        header .logo {
            padding: 1rem;
        }
    
        header .show-tm {
            display: block;
            color: #ffffff;
            cursor: pointer;
            font-size: 2rem;
        }
    
    /* Main 1/6 */
        .container {
            max-width: 100%;
        }
        /* serve???? */
        
        .row-table .column {
            width: 100%;
            text-align: center;
        }
        
        .row-table .card-big {
            flex-direction: column;
            align-items: center;
            gap: 3rem;
        }
    
    /* Main 2/6 */
        .row-change {
            flex-wrap: wrap;
        }

        .row-change .column {
            width: 100%;
        }
    }

    /* Main 4/6 */
        .benefits .card {
            width: 48%;
        }

/* MEDIA QUERIES - Mobile */

@media screen and (max-width:480px) {

    /* Main 1/6 */
        .row-table .card,
        .row-table .card.card-big {
            width: 100%;
        }


    /* Main 3/6 */
        .card-purple {
            flex-direction: column;
        }

        .tondo {
            width: 50%;
        }
}