/* body "white" */

/* HEADER */

header {
    background-color: #0084fd;
    height: 8vh;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header > nav {
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
}

header ul {
    list-style: none;
}

header li {
    margin: 0 1rem;
    line-height: 8vh;
    cursor: pointer;
}

header button {
    line-height: 3vh;
}

/* HEADER MEDIA QUERY */

@media screen and (max-width:480px) {
    
}


/* MAIN */

main {
    background-color: #ffffff;
}

/* MAIN - 1/6 */

.row-table {
    flex-wrap: wrap;
    gap: 15px;
	/* margin: 3rem auto; */
}

.row-table .card.card-big {
    width: calc((100% / 3) * 2 - 7px);
}

/* MAIN - 3/6 */

.card-purple {
	background-color: hsl(244, 60%, 73%);
    border-radius: 30px;
    margin-bottom: 1rem;
    align-items: center;
}

.tondo {
    width: 30%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: url(../img/testimonial1.jpg);
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
}


/* Footer */

footer {
    background-color: #333333;
    color: #ffffff;
}