/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
}

.container-small {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 2rem;
}

.d-flex {
	display: flex;
}

.f-end {
	align-items: flex-end;
}

/* Utils spacing */

.center {
	text-align: center;
}

.p-up {
	padding-top: 8vh;
}

.m-ud {
	margin: 3rem auto;
}

.m-t {
	margin-top: 5rem;
}

.m-ud2 {
	margin: 2rem auto;
}

.pad-1 {
	padding: 1rem;
}

.pad-2 {
	padding: 2rem;
}

.pad-ud {
	padding: 1em 0;
}

.pad-nd {
	padding: 2rem 1rem 0 1rem;
}

.pad-b {
	padding-bottom: 2rem;
}

.line {
	line-height: 3rem;
}

.tiny {
	font-size: .9rem;
}

/* Utils - bg colors */

.bg-p {
	background-color: #9792e4;
}

.bg-b {
	background-color: #0084fd;;
}

/* Utils - colors */

.col-w {
	color: #ffffff;
}

.col-g {
	color: #333333;
}

.col-b {
	color: #0084fd;
}

.col-p {
	color: #9792e4;
}

/* Utils Main */

.card {
	background-color: #b5ddff;
	width: calc(100% / 3 - 10px);
	border-radius: 20px;
	padding: 1.5rem;
}

.column {
	width: 50%;
}

.btn {
	line-height: normal;
	border: none;
	border-radius: 2em;
	padding: .5em 1em;
	cursor: pointer;
}


/* Utils - hSomething */

h1 {
	font-size: 3rem;
	font-weight: 700;
}

h2 {
	font-size: 2.5rem;
	font-weight: 700;
}

h3 {
	font-size: 2rem;
	font-weight: 700;
}

h4 {
	font-size: 1.5rem;
	font-weight: 500;
}

.weight {
	font-size: 3.5rem;
	font-weight: 700;
}

.italic {
	font-style: italic;
}
