/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
}

.container-small {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 2rem;
}

.d-flex {
	display: flex;
}

/* Utils spacing */

.center {
	text-align: center;
}

.p-up {
	padding-top: 8vh;
}

.m-ud {
	margin: 3rem auto;
}

.pad-1 {
	padding: 1rem;
}

.pad-2 {
	padding: 2rem;
}

/* Utils - colors */

.bg-p {
	background-color: #9792e4;
}

/* Utils Main */

.card {
	background-color: #b5ddff;
	width: calc(100% / 3 - 10px);
	border-radius: 20px;

	/* debug */
	height: 300px;
}

.column {
	width: 50%;
	/* margin: 3rem auto; */

	/* debug */
	height: 500px;
	background-color: aqua;
	border: 1px solid black;
}